.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #ffffff !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #2d0b0b transparent transparent transparent !important;
}